body
{
	font-family: 'Cormorant Garamond', serif;
	font-family: 'Proza Libre', sans-serif;
	margin-left: auto;
	margin-right: auto;
}

header h1
{
	text-align: center;
	font-size: 50px;
	color: 
}

.sommaire
{
	text-align: center;
	margin-bottom: 20px;
	line-height: 10px;

}

.images
{
	width: 500px;
	height: 500px;
}

.images p
}
div p
{
	float: right;
}

aside h2
{
	text-align: center;
}

ul
{
	border: 2px;
	text-align: left;
	width: 150px;
	list-style: none;
	margin: 0px;
	line-height: 80px;
}

#stats
{
	text-align: center;
}

.plan
{
	margin: 40px;
	display: inline;
	width: 400px;
}

.planville
{
	width: 800px;
	height: 600px;
}

#historique
{
	
	float: right;
	width: 990px;
}

td
{
	border: 1px solid black;
	padding: 3px;
}

table
{
	float: center;
}

section aside
{
	vertical-align: top;
	margin-left: 30px;
	border: 1px solid black;
	box-shadow: 4px 4px 0px 0px #aaa;
	display: inline-block;
	width: 15%;
}
section article
{
	border-top: 1px solid black;
	border-left: 1px solid black;
	padding-left: 15px;
	padding-right: 10px;
	box-shadow: 4px 4px 0px 0px #aaa;
	display: inline-block;
	text-align: justify;
	width: 79%;
}

a:hover
{
	color: red;
	text-decoration: none;

}

a
{
	text-decoration: none;
	font-size: 30px;
	color: #F1A245;
}

.lien
{
	display: inline-block;
	text-align: left;
}

.lien2
{
	display: inline-block;
	text-align: left;
}
/*
.legend
{
	border-top: 1px solid black;
	box-shadow: 4px 4px 1px 1px #aaa;
}
*/